:root {
   --mainBgCol: #161517;
   --textCol: #E0E0E0;
   --activeCol: #918F9E;

   --mobileMenuBgCol: #46444D;

   --buttonGradBgCol: linear-gradient(to right, #80A0E2, #E1C8CC, #80CCE0);

   --slideBgCol: #201F22;
   
}

@font-face {
   font-family: "Gilroy";
   src: url(../fonts/Gilroy-Regular.woff) format(woff);
}

*, *::before, *::after {
   margin: 0px;
   padding: 0px;
   border: 0;
   box-sizing: border-box;
}

ul, ol {
   list-style-type: none;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   width: 100%;
}

body {
   font-family: "Gilroy", sans-serif;
   background-color: var(--mainBgCol);
}
body.lock {
   overflow: hidden;
}

/*------- general ---------*/
.container {
   max-width: 1599px;
   width: 100%;
   margin: 0 auto;
   padding: 0px 27px;
}
.title {
   font-size: 2.875rem;
   font-weight: 600;
   line-height: 56px;
   word-wrap: break-word;
   background: var(--buttonGradBgCol);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 14px;
}
.description {
   color: var(--textCol);
   font-size: 1.125rem;
   font-weight: 400;
   line-height: 28px;
   word-wrap: break-word;
}
@media (min-width: 768px) {
   .title {
      font-size: 3.375rem;
      line-height: 62px;
      margin-bottom: 16px;
   }
   .description {
      font-size: 1.3125rem;
      line-height: 32px;
   }

}

@media (min-width: 1200px) {
   .container {
      padding: 0px 72px;
   }
   .title {
      font-size: 4.5rem;
      line-height: 81px;
      margin-bottom: 24px;
   }
   .description {
      font-size: 1.5rem;
      line-height: 36px;
   }
}

@media (min-width: 1440px) {
   .title {
      font-size: 5.5rem;
      line-height: 102px;
      margin-bottom: 34px;
   }
   .description {
      font-size: 1.75rem;
      line-height: 41px;
   }
}

/*------- general ---------*/

/*------- header ---------*/
.header {
   background-color: var(--mainBgCol);
   padding: 20px 0px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   transition: all .4s ease-out .0s;
   z-index: 10;
}
.header-mobile {
   background-color: var(--mobileMenuBgCol);
   
}
.header__wrapper {
   display: grid;
   grid-template-columns: auto 1fr auto;
   place-items: center;
   grid-template-areas:
      "first second third";
}
.logo {
   width: 156px;
   height: 26px;
   cursor: pointer;
}
.menu {
   position: fixed;
   top: 65px;
   left: -100%;
   
}
.menu__box {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 30px 27px 80px 27px;
}
.menu-backgroundColor {
   background-color: var(--mobileMenuBgCol);
}
.menu.mobile {
   width: 100%;
   height: 100%;
   overflow: auto;
   transform: translateX(100%);
   transition: all .2s ease-out .15s;
}
.menu__item {
   margin-bottom: 14px;
}
.menu__link, .menu__button {
   color: var(--textCol);
   font-size: 1.125rem; /* 18 px */
   font-weight: 400;
   cursor: pointer;
}
.menu__button {
   max-width: 336px;
   width: 100%;
   padding: 10px 36px;
   border: 1px #80A0E2 solid;
   border-radius: 90px;
   background-color: transparent;
   font-family: "Gilroy", sans-serif;
}

.header__button {
   display: none;
}

.burger-area {
   grid-area: third;
   position: relative;
}
.button {
   width: 21px;
   height: 16px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: end;
   opacity: 0;
   transition: all .1s ease-out .15s;
}
.button__line {
   width: 21px;
   height: 2px;
   background-color: var(--textCol);
}

.button-burger {
   position: absolute;
   top: 0px;
   left: 0px;
}
.button-burger__line-short {
   width: 16px;
}

.button-exit {
   position: relative;
}
.button-exit__line {
   position: absolute;
   top: 50%;
}
.button-exit__line-first {
   transform: translateY(-50%) rotate(45deg);
}
.button-exit__line-second {
   transform: translateY(-50%) rotate(135deg);
}

.burger-area__activeBtn {
   opacity: 1;
}

.burger-area__activeBtn::before {
   content: '';
   width: 21px;
   height: 16px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
}

@media (min-width: 425px) {
   .logo {
      width: 178px;
      height: 30px;
   }

   .menu__link, .menu__button {
      font-size: 1.3125rem; /* 21 px */
   }

   .button {
      width: 27px;
      height: 21px;
   }
   .button__line {
      width: 27px;
   }
   .button-burger__line-short {
      width: 21px;
   }
   .burger-area__activeBtn::before {
      width: 27px;
      height: 21px;
   }
}

@media (min-width: 900px) {
   .menu {
      grid-area: second;
      position: static;
      opacity: 1;
      transition: all .2s ease-out .15s;
   }
   .menu__box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
   }
   .menu-backgroundColor {
      background-color: var(--mainBgCol);
   }
   .menu__item {
      margin-bottom: 0px;
      margin-right: 12px;
   }
   .menu__link {
      font-size: 1.125rem; /* 18 px */
   }
   .menu__link:hover {
      background: var(--buttonGradBgCol);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
   .menu__button {
      display: none;
   }

   .header__button {
      grid-area: third;
      display: block;
      max-width: 336px;
      width: 100%;
      padding: 10px 36px;
      color: var(--textCol);
      font-size: 1.125rem; /* 18 px */
      font-weight: 400;
      font-family: "Gilroy", sans-serif;
      border: 1px #80A0E2 solid;
      border-radius: 90px;
      background-color: transparent;
      cursor: pointer;
      transition: color .2s ease-out .15s;
      transition: background .4s ease-out .15s;
   }
   .header__button:hover {
      color: #000;
      background: var(--buttonGradBgCol);
   }

   .burger-area {
      display: none;
   }
}

@media (min-width: 1025px) {
   .menu__item {
      margin-right: 18px;
   }
}

@media (min-width: 1200px) {
   .menu__item {
      margin-right: 24px;
   }
   .menu__link {
      font-size: 1.3125rem; /* 21 px */
   }
   .header__button {
      font-size: 1.3125rem; /* 21 px */
   }
}

@media (min-width: 1440px) {
   .menu__item {
      margin-right: 24px;
   }
}

/*------- header ---------*/

/*------- main ---------*/

/*------- first section ---------*/
.first-section {
   margin-top: 100px;
}
.title-mainSize {
   font-size: 3.375rem;
   margin-bottom: 28px;
}
.first-section__img {
   max-width: 1599px;
   width: 100%;
   height: 480px;
   margin: 0px auto;
}
.first-section__img img {
   height: 100%;
   object-fit: cover;
}

@media (min-width: 768px) {
   .title-mainSize {
      font-size: 4.125rem;
      margin-bottom: 32px;
   }
}

@media (min-width: 900px) {
   .title-mainSize {
      font-size: 6rem;
      line-height: 91px;
      margin-bottom: 53px;
   }
   .first-section__img {
      height: 640px;
      padding: 0px 27px;
   }
   .first-section__img img {
      border-radius: 36px;
   }
}

@media (min-width: 1200px) {
   .first-section__img {
      height:860px;
      padding: 0px 72px;
   }
}

@media (min-width: 1440px) {
   .title-mainSize {
      font-size: 7.375rem;
      line-height: 127px;
      margin-bottom: 68px;
   }
}
/*------- first section ---------*/

/*------- second section ---------*/
.section {
   margin-top: 84px;
}
.second-section__wrapper {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: flex-start;
}
.second-section__titleBlock {
   margin-bottom: 28px;
}
.second-section__icon {
   display: flex;
   justify-content: start;
}
.second-section__icon img {
   width: 60px;
   height: 60px;
   margin-right: 14px;
}
.section__slider {
   max-width: 266px;
   width: 100%;
   overflow: hidden;
   margin: 0px auto 28px;
   z-index: -1;
}
.slider {
   display: flex;
   justify-content: start;
}
.slider__item {
   flex: 1 0 266px;
   border-radius: 36px;
   padding: 44px 28px;
   background-color: var(--slideBgCol);
   margin-right: 27px;
}
.slider__item-empty {
   display: none;
}
.slider__item-special {
   display: flex;
   justify-content: center;
   align-items: center;
}
.slider__title {
   color: var(--activeCol);
   font-size: 1rem;
   font-weight: 400;
   line-height: 24px;
   word-wrap: break-word;
   margin-bottom: 14px;
}
.slide__description {
   font-size: 1.875rem;
   line-height: 37px;
}
.toggle-box {
   display: flex;
   padding: 12px 14px;
   margin: 0px auto;
   background-color: var(--slideBgCol);
   border-radius: 90px;
}
.toggle-box span {
   display: block;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: var(--mobileMenuBgCol);
}
.toggle-box span:not(:last-child) {
   margin-right: 14px;
}
.toggle-box span.active {
   background-color: var(--activeCol);
}

@media (min-width: 375px) {
   .section__slider {
      max-width: 320px;
   }
   .slider__item {
      flex: 1 0 320px;
   }
}

@media (min-width: 768px) {
   .second-section__icon img {
      width: 64px;
      height: 64px;
      margin-right: 16px;
   }
   .section__slider {
      max-width: 464px;
      margin: 0px auto 28px;
   }
   .slider__item {
      flex: 1 0 464px;
      padding: 48px;
   }
   .slider__title {
      font-size: 1.0625rem;
      line-height: 25.50px;
      margin-bottom: 16px;
   }
   .slide__description {
      font-size: 2rem;
      line-height: 43px;
   }
}

@media (min-width: 1024px) {
   .section {
      margin-top: 84px;
   }
   .second-section__wrapper {
      position: relative;
   }
   .second-section__titleBlock {
      width: 50%;
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 44px;
   }
   .section__slider {
      max-width: 1599px;
      width: 100%;
      overflow: visible;
      margin: 0px;
   }
   .slider {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .slider__item {
      flex: 1 0 450px;
      padding: 44px;
      background-color: var(--slideBgCol);
      margin-right: 0px;
   }
   .slider__item-bgCol {
      background-color: var(--mainBgCol);
   }
   .slider__item-after {
      position: relative;
   }
   .slider__item-after::after {
      content: '';
      position: absolute;
      bottom: -50px;
      right: -50px;
      width: 100px;
      height: 100px;
      background-color: var(--slideBgCol);
      z-index: -1;
   }
   .slider__item-empty {
      display: block;
   }
   .slider__item-special {
      order: 3;
   }
   .slider__title {
      font-size: 1.125rem;
      line-height: 27px;
      margin-bottom: 24px;
   }
   .toggle-box {
      display: none;
   }
}

@media (min-width: 1200px) {
   .second-section__titleBlock {
      padding: 70px;
   }
   .slider__item {
      flex: 1 0 500px;
      padding: 70px;
   }
   .slide__description {
      font-size: 2.25rem;
      line-height: 48px;
   }
}

@media (min-width: 1440px) {
   .second-section__titleBlock {
      padding: 80px;
   }
   .slider__item {
      height: 500px;
      padding: 80px;
   }
   .slider__title {
      font-size: 1.3125rem;
      line-height: 29px;
      margin-bottom: 34px;
   }
   .slide__description {
      font-size: 3rem;
      line-height: 68px;
   }
}
/*------- second section ---------*/

/*------- third section ---------*/
.third-section__wrapper {
   max-width: 1599px;
   width: 100%;
   height: 450px;
   margin: 28px auto 0px;
   display: flex;
   justify-content: center;
   overflow: hidden;
}
.img-box {
   height: 100%;
   display: flex;
   align-items: center;
}
.img-box__item {
   width: 230px;
   height: 100%;
}
.img-box__item:not(:last-child) {
   margin-right: 14px;
}
.img-box__img {
   width: 100%;
   height: 100%;
   border: 2px solid var(--mobileMenuBgCol);
   border-radius: 25px;
}

@media (min-width: 768px) {
   .third-section__titleBlock {
      margin-left: 50%;
   }
}
@media (min-width: 1024px) {
   .section__container {
      width: 100%;
      padding: 0px 27px;
   }
}
@media (min-width: 1200px) {
   .section__container {
      padding: 0px 72px;
   }
}
/*------- third section ---------*/

/*------- fourth section ---------*/
.figure {
   width: 100%;
   height: 400px;
   position: relative;
   overflow: hidden;
}
.figure::after {
   content: '';
   width: 250px;
   height: 250px;
   transform: rotate(-157deg); 
   position: absolute;
   top: 0%;
   left: 50%;
   border-right: 1px solid #918F9E;
   border-top: 1px solid #918F9E;
   background-image: linear-gradient(45deg,#161517 48%, #918F9E);
   z-index: -1;
}
.figure::before {
   content: '';
   width: 300px;
   height: 300px;
   border-radius: 50%;
   transform: rotate(-30.76deg); 
   position: absolute;
   top: 15%;
   right: 45%;
   background-image: linear-gradient(84deg,#161517 48%, rgba(141, 140, 141, 0.8));
}

@media (min-width: 425px) {
   .figure::after {
      width: 350px;
      height: 350px;
      top: -5px;
      left: 52%;
   }
   .figure::before {
      width: 400px;
      height: 400px;
   }
}
@media (min-width: 768px) {
   .fourth-section__titleBlock {
      width: 70%;
      margin-left: 15%;
   }
   .figure {
      height: 500px;
   }
   .figure::after {
      width: 450px;
      height: 450px;
      top: -80px;
      left: 55%;
   }
   .figure::before {
      width: 500px;
      height: 500px;
   }
}
@media (min-width: 1024px) {
   .fourth-section__titleBlock {
      width: 60%;
      margin-left: 50%;
      transform: translateX(-50%);
   }
   .figure::after {
      width: 550px;
      height: 550px;
      top: -70px;
      left: 53%;
   }
   .figure::before {
      width: 600px;
      height: 600px;
   }
}
@media (min-width: 1024px) {
   .figure::after {
      top: -90px;
      left: 55%;
   }
}
/*------- fourth section ---------*/

/*------- fifth section ---------*/
.fifth-section {
   position: relative;
   margin-top: -40px;
   z-index: 1;
}
.fifth-section__wrapper {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: flex-start;
}
.fifthSectionSlider__title {
   font-size: 1.875rem;
   font-style: normal;
   font-weight: 400;
   line-height: 2.3125rem;
   background: linear-gradient(270deg, #80A0E2 0%, #E1C8CC 48.93%, #80CCE0 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin: 14px 0px;
}
.fifthSectionSlider__description {
   color: var(--textCol);
   font-size: 1.125rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.75rem;
}
@media (min-width: 768px) {
   .fifthSectionSlider__title {
      font-size: 2rem;
      line-height: 2.6875rem;
      margin: 16px 0px;
   }
   .fifthSectionSlider__description {
      font-size: 1.3125rem;
      line-height: 2rem;
   }
}
/*------- fifth section ---------*/
/*------- main ---------*/
